/* AUTHOR INFORMATION
 * CREATOR - Jeremy Dunnet 09/09/2018
 * LAST MODIFIED BY - Jeremy Dunnet 15/09/2018
 * 
 * CLASS/FILE DESCRIPTION
 * This is the design template file for the layout of all additional divs inside the chapter text area in headers.html
 * 
 * VERSION HISTORY
 * 09/09/2018 - Created and placed first draft of button layout
 * 12/09/2018 - Fixed styling layout
 * 15/09/2018 - Added additional stylings based on new chapter quiz integration, edited some class names and fixed layout
 * 
 * REFERENCES
 * Design options were learned/adapted from the many tutorials at https://www.w3schools.com
 * 
 */


#quiz {
    height: 100%;
    width: 100%;
    margin: auto;
    display: inline;
}

#chapterNav {
    height: 100%;
    width: 100%;
}


/* These buttons have modifers opposite from each other since they will appear side by side*/
#nextButt {
    text-align: left;
}


    #backButt {
    text-align: right;
}

#markers {
    margin-bottom: 100px;
    margin-top: 20px;
}

/* These buttons have modifers opposite from each other since they will appear side by side*/
#importantButt {

    height: 50px;

}

#rereadButt {

    height: 50px;
}

#tutorial-layout {
    font-size: 14px;
}

.chapterButton {
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
    background-color: white;
    color: #464646;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 100px;
    display: inline-block;
    height: 100%;
}

.defineSpan {
    text-decoration: underline;
    color: red;
}

#markers img {
    cursor: pointer;
}
#chapterNav img {
    cursor: pointer;
}