/* AUTHOR INFORMATION
 * CREATOR - Jeremy Dunnet 25/08/2018
 * LAST MODIFIED BY - Jeremy Dunnet 15/09/2018
 * 
 * CLASS/FILE DESCRIPTION
 * This is the design template file for the layout of all chapter quizzes, as they will be displayed the same, this holds the ovverides
 * and new design needs for the unique divs contained within the quiz layout.
 * 
 * VERSION HISTORY
 * 24/08/2018 - Creation and basic details entered
 * 27/08/2018 - Updated css to match new items added in the quiz tml pages
 * 29/08/2018 - Updated colors to give distinction to sections
 * 30/08/2018 - Updated to add new divs/sections to reflect new layout
 * 02/09/2018 - Changed modifiers to try and fix new layout bugs/added correct comment style
 * 03/09/2018 - Removed uneeded code
 * 15/09/2018 - Updated to match new layout for chapter quiz integration
 * 
 * REFERENCES
 * The design choices were inspired/based on the one provided by https://www.sitepoint.com/simple-javascript-quiz/
 * Other design options were learned from the many tutorials at https://www.w3schools.com
 * 
 */

#information {
}

#question {
    display: inline-block;
    font-weight: 600;
    width: 98%;
    text-align: center;
}

#qTitle {
    background-color: #f7901e;
    font-weight: bolder;
    width: 100%;
}

#answers {
    margin: inherit;
    background-color:moccasin;
    display: table;
    width: 100%;
}

.choices {
}

#reasoning {
    visibility: hidden;
    background-color: #D1DFD5;
    width: 100%;
    margin-bottom: 10px;
}

#qNav {
    width: 100%;
}

#results {
    display: inline-block;
    width: 100%;
}

/*The two weird width values are to make the page look a little more aligned*/
#score {
    display: inline-block;
    width: 48.3%;
    margin-bottom: 10px;
    background-color: white;
}

#encouragement {
    display: inline-block;
    width: 48.2%;
    background-color: white;
}

#buttons {
    display: inline-block;
    width: 100%;
}

.quizButton {
    font-family: Verdana;
    font-weight: bold;
    font-size: 20px;
    text-align: justify;
    background-color: #f7901e;
    border: 0px;
    padding: 20px;
    display: inline-block;
    width: 49%;
    cursor: pointer;
    margin-bottom: 10px;
}