/* AUTHOR INFORMATION
 * CREATOR - Oliver Yeudall 20/09/2018 (Original Code), Jeremy Dunnet 22/09/2018 (This file)
 * LAST MODIFIED BY - Jeremy Dunnet 22/09/2018 
 * 
 * CLASS/FILE DESCRIPTION
 * This is the design template file for the layout of search bar and it's related functionality
 * 
 * VERSION HISTORY
 * 22/09/2018 - Updated existing code here and added comments
 * 
 * REFERENCES
 * All code was sourced from project teammate Oliver Yeudall
 * Z-index was learned from https://www.w3schools.com/cssref/pr_pos_z-index.asp
 */

#searchList {
    position: absolute;
    border: 1px solid #ddd;
    z-index: 30;
}

.searchResult {
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid ;
    display: inline-block;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
}

#searchBar {
width: 68.5%;
}
#searchList a {
    cursor: pointer;
}
#defineMatches {
    padding-bottom: 20px;
}

/* Allow us to highlight the divs with the definition of the given term */
.definitions {
    background-color: yellow;
}

.hide {display: none;}

.show {display: block;}




