/* This is the main css (found via root relative link of "/globalCSS/styles.css) to use to give the app a uniform look */

/* AUTHOR INFORMATION
 * CREATOR - Jeremy Dunnet 12/09/2018
 * LAST MODIFIED BY - Casey Rogers 25/09/2018
 * 
 * CLASS/FILE DESCRIPTION
 * This is the global css file which will give the whole website a uniform look
 *  
 * 
 * VERSION HISTORY
 * 25/09/2018 - Created and moved existing code here
 * 
 * REFERENCES
 * All code was sourced from ...
 * 
 */

body {
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: aliceblue;
}

    /* Style the topnav links */
    .topnav a {
        float: left;
        display: block;
        color: aqua;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        /* Change color on hover */
        .topnav a:hover {
            background-color: aquamarine;
            color: blue;
        }

/* right column column */
.rightcolumn {
    float: right;
    width: 85%;
}

/* tutorial column */
.content {
    float: right;
    width: 85%;
}

/* Left column */
.leftcolumn {
    float: left;
    width: 15%;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 14px;
    color: black;
    display: block;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    outline: none;
}

    /* On mouse-over */
    .sidenav a:hover, .dropdown-btn:hover {
        /*colour can be added here*/
    }

/* Main content */
.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    padding-left: 10px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

    .navbar a {
        float: left;
        font-size: 16px;
        color: bisque;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

.dropdown {
    float: left;
    overflow: hidden;
}

    /*colour of the text for the Dropdown button*/
    .dropdown .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: black;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }

    /*colour of the button when hovered over*/
    .navbar a:hover, .dropdown:hover .dropbtn {
        background-color: chocolate;
    }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: bisque;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        .dropdown-content a:hover {
            background-color: goldenrod;
        }

.dropdown:hover .dropdown-content {
    display: block;
}
