/* AUTHOR INFORMATION
 * CREATOR - Jeremy Dunnet 24/08/2018
 * LAST MODIFIED BY - Jeremy Dunnet 02/09/2018
 * 
 * CLASS/FILE DESCRIPTION
 * This is the style sheet for local styling of quizStart.html - providing layout orrivides to specific items within that page
 * 
 * VERSION HISTORY
 * 24/08/2018 - Creation and basic details entered
 * 02/09/2018 - Updated to new layout/added correct comment style
 * 
 * REFERENCES
 * A lot of basics/design learned/adapted from tutorials available from https://www.w3schools.com
 * 
 */

body
{
}

table, th, td {
    border: 4px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}