body {
	background-color: yellow;
}

h1 {
	color: purple;
	margin-left: 50px;
}

.dropdownUI {
	position: relative;
	display: inline-block;
}

/*.dropDownList {
	display: none;
} */
 
.dropdownList a {
	position: relative;
	display: block;
}



.show {display:block;}

/* .hide {display:none;} */

